:root {
  --bg-color: #192138;
  --title-color: #93A0C3;
  --font-color: #fff;
  --main-font: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 480px 500px 300px 1fr;
  gap: 10px;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 10px;
}

.cardContainer {
  max-width: 1000px;
  justify-self: center;
}

.ResumeCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--title-color);
  text-align: center;
}

.ResumeCard section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 400px;
}

.ResumeCard section img {
  max-width: 450px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}

.ResumeCard section p {
  flex-basis: 300px;
  align-self: center;
  text-align: justify;
  margin-top: 20px;
}

.StackCard h2 {
  color: var(--title-color);
  margin-bottom: 10px;
}

.StackCard section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 400px;
}

.StackCard .StackCard--items {
  flex-basis: 100px;
  max-width: 100px;
  display: grid;
  grid-template-columns: repeat(3,30px);
  grid-template-rows: repeat(3,30px);
  gap: 5px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  margin: 20px 0;
}

.StackCard section p {
  flex-basis: 300px;
  align-self: center;
  text-align: justify;
}

.ProjectsCard h2{
  margin-bottom: 20px;
}

.ProjectsCard .ProjectsCard--Project{
  width: 300px;
  height: 200px;
}

.ProjectsCard .ProjectsCard--Project a{
  min-width: 100%;
  min-height: 100%;
}

.ProjectsCard .ProjectsCard--Project a img{

}