:root {
  --bg-color: #192138;
  --title-color: #93A0C3;
  --font-color: #fff;
  --main-font: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--main-font);
  display: grid;
  grid-template-rows: 480px 500px 350px 1fr;
  gap: 10px;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 10px;
}

.cardContainer {
  /* max-width: 1000px; */
  min-width: 300px;
  width: 100%;
  justify-self: center;
}

.ResumeCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--title-color);
  text-align: center;
}

.ResumeCard section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 400px;
}

.ResumeCard section img {
  max-width: 450px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}

.ResumeCard section p {
  flex-basis: 300px;
  align-self: center;
  text-align: justify;
  margin-top: 20px;
}

.StackCard h2 {
  color: var(--title-color);
  margin-bottom: 10px;
}

.StackCard section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 400px;
}

.StackCard .StackCard--items {
  flex-basis: 100px;
  max-width: 100px;
  display: grid;
  grid-template-columns: repeat(3,30px);
  grid-template-rows: repeat(3,30px);
  gap: 5px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  margin: 20px 0;
}

.StackCard section p {
  flex-basis: 300px;
  align-self: center;
  text-align: justify;
}

.ProjectsCard{
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.ProjectsCard--Slider{
  height: 270px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  place-content: center;
}

.ProjectsCard--index{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ProjectsCard--index a {
  background-color: var(--bg-color);
  color: var(--font-color);
  text-decoration: none;
  width: 70px;
  height: 35px;
  padding: 9px 0px;
  border-radius: 10px;
}

.ProjectsCard--index a:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

.ProjectsCard h2{
  margin-bottom: 20px;
  color: var(--title-color);
  text-align: left;
}

.ProjectsCard--slide{
  text-align: center;
  width: 300px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.ProjectsCard--slide::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.ProjectsCard--slide::-webkit-scrollbar-thumb {
  background: var(--title-color);
  border-radius: 10px;
}

.ProjectsCard--slide::-webkit-scrollbar-track {
  background: transparent;
}

.ProjectsCard--slide > a img{
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.ProjectsCard--Slider > a {
  background-color: var(--title-color);
  padding: 5px;
  text-decoration: none;
  color: var(--font-color);
  margin-bottom: 15px;
}

.AboutCard h2{
  color: var(--title-color);
  text-align: left;
}

.AboutCard--info{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.AboutCard img{
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 400px;
}

.AboutCard--info p{
  flex-basis: 300px;
}